<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://saccoproduction-e2bkcvfgcth2gkhh.southafricanorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>c1494a3a-3588-4154-93b4-90b43525b2c8</ProjectGuid>
    <PublishUrl>https://saccoproduction-e2bkcvfgcth2gkhh.scm.southafricanorth-01.azurewebsites.net/</PublishUrl>
    <UserName>$saccoproduction</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>